.app-container {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
  }

.dashboard-container {
    padding: 20px;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-align: center; 
}

.crypto-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.crypto-item {
    padding: 20px;
    background-color: #068af546;
    border: 1px solid #100202;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.crypto-item:hover {
    transform: scale(1.03);
}


.crypto-item h3 {
    margin: 0;
    font-size: 1.5rem;
    font-style: italic;
    font-size: medium;
    text-align: left; 
}

.crypto-item-details {
    margin-top: 10px;
    text-align: left; 
}

.navbar {
    background-color: #068af546; 
    color: #0a0a0a; 
    padding: 10px 0; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
    text-decoration: none; 
    color: #0a0a0a; 
    margin-right: 20px; 
    font-weight: bold; 
    transition: color 0.2s ease-in-out; 
}

.nav-link:hover {
    color: #0a0a0a; 
    text-decoration: underline; 
}

.nav-link.active {
    border-bottom: 2px solid #0a0a0a; 
    padding-bottom: 4px; 
    transition: border-color 0.2s ease-in-out;
}

.nav-link.active:hover {
    border-color: transparent; 
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    color: #555;
  }

  .sorting-options {
    margin-bottom: 20px;
  }
  .sort-button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #068af546;
    color: rgb(8, 8, 8);
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 auto;
  }
  .sort-button:hover {
    background-color: #1961fbdb;
  }
  
  .sort-button.active {
    background-color: #1961fbf2;
  }

  @media (max-width: 768px) {

    .add-crypto-form h2 {
      font-size: 1rem;
    }
  
    .add-crypto-form input {
      width: 85%;
    }
  
    .add-crypto-form button {
      margin: 0 auto;
    }
  }