.remove-crypto-container {
    padding: 20px;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  
  .remove-crypto-form {
    margin-top: 20px;
    padding: 20px;
    background-color: #068af546;
    border: 1px solid #100202;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}
  
  .remove-crypto-form:hover {
    transform: scale(1.03);
  }
  
  .remove-crypto-form h2 {
    margin: 0;
    font-size: 1.5rem;
    font-style: italic;
    font-size: medium;
    text-align: left;
  }
  
  .remove-crypto-form label {
    display: block;
    margin-top: 10px;
    text-align: left;
  }
  
  .remove-crypto-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
    font-size: 1rem;
  }
  
  .remove-crypto-form button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1961fb;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 auto;
  }
  
  .remove-crypto-form button:hover {
    background-color: #1961fbdb;
  }
  
  @media (max-width: 768px) {

    .remove-crypto-form h2 {
      font-size: 1rem;
    }
  
    .remove-crypto-form select {
      width: 100%;
    }
  
    .remove-crypto-form button {
      margin: 0 auto;
    }
  }